/* Style for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #1e1e1e;
}

/* Style for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4d4d4d #1e1e1e;
}