<div>
  <p>Hi <%= name %>,</p>
  <p>Thank you for contacting us. We have received your message and will get back to you as soon as possible.</p>
  <p>Here is a copy of your message:</p>
  <p><%= message %></p>
  <p>Your contact details:</p>
  <p>Email: <%= email %></p>
  <p>Phone: <%= phone %></p>
  <p>If you have any further questions, please do not hesitate to contact us.</p>
  <p>Best regards,</p>
  <p>Kuray Karaaslan</p>
</div>
