@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Gill Sans';
  src: url('https://fonts.cdnfonts.com/s/17981/GillSans.woff2') format('woff2');
  font-display: swap;
}

html {
  font-family: 'Gill Sans', system-ui, sans-serif;
}