@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Bookerly';
  src: url('https://fonts.cdnfonts.com/s/22056/Bookerly.woff2') format('woff2');
  font-display: swap;
}

html {
  font-family: 'Bookerly', system-ui, sans-serif;
}